<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <figure class="profile-default-image ion-text-center">
    <p>Ingresa tus datos</p>
    <img src="assets/img/user.png" alt="" />
  </figure>

  <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
    <ion-item>
      <ion-input
        label="Email"
        labelPlacement="stacked"
        placeholder="Escribe tu email"
        formControlName="email"
      ></ion-input>
    </ion-item>
    <div>
      <ng-container *ngFor="let validation of validation_messages.email">
        <div
          *ngIf="(
          loginForm.get('email')?.hasError(validation.type) && loginForm.get('email')?.dirty
         )"
        >
          {{validation.message}}
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-input
        label="Contreseña"
        labelPlacement="stacked"
        placeholder="Tu contraseña"
        type="password"
        formControlName="password"
      ></ion-input>
    </ion-item>
    <div>
      <ng-container *ngFor="let validation of validation_messages.password">
        <div
          *ngIf="(
          loginForm.get('password')?.hasError(validation.type) && loginForm.get('password')?.dirty
         )"
        >
          {{validation.message}}
        </div>
      </ng-container>
    </div>
    <ion-button
      expand="full"
      shape="round"
      type="submit"
      [disabled]="!loginForm.valid"
    >
      Login
    </ion-button>
  </form>
  {{errorMessage}}
</ion-content>
