.slider-content {
  text-align: center;
}

img{
  width: 45%;
  max-width: 300px;
  height: auto;
  border-radius: 15px;
  margin: 20px 0;
}

.slider-content h2 {
  font-size: 1.5em;
  margin: 10px 0;
  color:#3433ff;
  padding-top: 30%;
}

.slider-content p {
  font-size: 20px;
  text-align: justify;
}

.description {
  color: #667;
  width: 70%;
  margin: 0 auto; // Centra el div y su descripción
}

ion-button{
  --background: #972399;
  --background-activated: #0a0a0a83;
}

