<ion-header>
  <ion-toolbar>
    <ion-title>Intro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper-container
    pagination="true"
    slides-per-view="1"
    style="width: 100%; height: 85%"
  >
    <swiper-slide *ngFor="let intro of intros">
      <div class="slider-content">
        <h2>{{ intro.title }}</h2>
        <img [src]="intro.image" [alt]="intro.title" />
        <div class="description">
          <p class="ion-text-center">{{intro.description}}</p>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
      <div class="slider-content">
      <ion-button (click)="goHome()">Ir al Home</ion-button>
    </div>
</ion-content>
