// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --color-claro: #dbdbdb;
    --color-oscuro: #00000057;
    --espaciado-base: 1rem;
    --espaciado-grande: 2rem;
    --slider-oscuro: #68dabc22;
    --texto-claro: #52ffe4;
    --slider-claro: #e6e6fa;
    --texto-oscuro: #000000;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

ion-title {
    font-size: 4.5vh;
}

swiper-pagination swiper-pagination-bullets swiper-pagination-horizontal{
    color: white;
}