// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --color-claro: #dbdbdb;
    --color-oscuro: #000000;
    --espaciado-base: 1rem;
    --espaciado-grande: 2rem;
    --slider-oscuro: #7475754a;
    --texto-claro: #7b8c89;
    --slider-claro: #e6e6fa;
    --texto-oscuro: #000000;
    --swiper-pagination-bullet-inactive-color: rgb(171, 158, 158);
    --swiper-pagination-bullet-inactive-opacity: 2;
    --swiper-pagination-color:#972399;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

ion-title {
    font-size: 4.5vh;
}