// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --color-claro: #dbdbdb;
    --color-oscuro: #001822;
    --espaciado-base: 1rem;
    --espaciado-grande: 2rem;
    --slider-oscuro: #7475754a;
    --texto-claro: #ffffff;
    --slider-claro: #e6e6fa;
    --texto-oscuro: #000000;
    --swiper-pagination-bullet-inactive-color: rgb(171, 158, 158);
    --swiper-pagination-bullet-inactive-opacity: 2;
    --swiper-pagination-color:#0098da;
    --color:#0098da;
}

ion-title {
    font-size: 4.5vh;
}