<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Inicio</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-toggle
            aria-label="Tertiary toggle"
            color="tertiary"
            (ionChange)="onToggleChange($event)"
            [checked]="isToggled"
            >Tema Oscuro</ion-toggle
          >
        </ion-item>
        <ion-item>
          <ion-button (click)="goBack()">Volver al intro</ion-button>
        </ion-item>
        <ion-item>
          <ion-button (click)="exit()">Cerrar sesión</ion-button>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <div class="ion-page contenido" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title
          ><img
            src="/assets/img/Logo_500x250.png"
            alt="Logo_Ape7ron"
            style="width: 80%; margin-top: 10px"
        /></ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div>
        <h2>Géneros Músicales</h2>
      </div>
        <swiper-container
          effect="coverflow"
          pagination="true"
          slides-per-view="1"
          style="width: 90%; height: auto"
        >
          <swiper-slide *ngFor="let genre of genres">
            <ion-card class="card">
              <img [src]="genre.image" [alt]="genre.title" />
              <ion-card-header class="slider-content">
                <ion-card-subtitle class="capitalize"
                  >{{ genre.subtitle }}</ion-card-subtitle
                >
                <ion-card-title
                  >{{ genre.title }}</ion-card-title
                >
              </ion-card-header>
              <ion-card-content class="slider-content p">
                <p class="reducir">{{genre.description}}</p>
              </ion-card-content>
            </ion-card>
          </swiper-slide>
        </swiper-container>
      <div>
        <h2>Albúmes</h2>
      </div>
        <div class="album-slider-wrapper">
          <swiper-container
            [slidesPerView]="3"
            [spaceBetween]="10"
            autoplay="true"
            pagination="true"
            style="width: 90%; height: 100%;"
          >
            <swiper-slide *ngFor="let album of albums" (click)="showSongs(album.id)" >
              <div class="slider-content">
                <img [src]="album.image" />
                <p>{{ album.name }}</p>
              </div>
            </swiper-slide>
          </swiper-container>
        </div>
    </ion-content>
  </div>
</ion-app>
