h2{
  font-size: 20px;
  margin: 0;
  margin-left: 15px;
}

.slider-content {
  text-align: center;
}

.slider-content img{
  width: 100%;
  max-width: 300px;
  height: 100%;
  border-radius: 10px;
}

.slider-content p {
  font-size: 17px;
  text-align: center;
}

.capitalize {
  text-transform: capitalize;
  padding: 5px 0px;
  font-size: 15px;
}

.reducir {
  width: 95%;
  max-width: 350px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.horizontal-card img {
  width: 40%;
  height: 40%;
  border-radius: 10px;
  object-fit: cover;
}

.horizontal-content {
  display: flex;
  align-items: center; /* Centra verticalmente */
  gap: 16px; /* Espaciado entre imagen y texto */
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icono {
  width: 300px;
  height: 300px;
  margin-left: auto; /* Alinea a la derecha */
}

ion-menu::part(backdrop) {
  background-color: #972399;
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;

  box-shadow: 4px 0px 16px #972399
}