<ion-content>
  <div [style.background-color]="temaActual" [style.color]="textoActual">
    <ion-header>
      <ion-toolbar>
        <ion-title> Inicio </ion-title>
      </ion-toolbar>
    </ion-header>
    <p>Tema Actual: {{temaActual === temaOscuro ? 'Oscuro' : 'Claro'}}</p>
    <h2>Géneros Músicales:</h2>
    <swiper-container pagination="true" loop="true" slides-per-view="1" style="width: 100%; height: 100%;">
      <swiper-slide *ngFor="let genre of genres">
        <!--Modificacion-->
        <ion-card [style.background-color]="sliderColorActual" [style.color]="textoActual">
          <img [src]="genre.image" [alt]="genre.title" />
          <ion-card-header class="slider-content">
            <ion-card-subtitle class="capitalize">{{ genre.subtitle }}</ion-card-subtitle>
            <ion-card-title [style.color]="textoActual">{{ genre.title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content class="slider-content p">
            <p class="reducir">{{genre.description}}</p>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
    </swiper-container>

    <h2>Destacados:</h2>
    <swiper-container pagination="true" slides-per-view="1.5" style="width: 90%; height: 100%; margin-top: 10px; margin-bottom: 10px; border: solid; border-radius: 10px;">
      <swiper-slide *ngFor="let destacado of destacados">
        <ion-card [style.background-color]="sliderColorActual" class="horizontal-card">
          <div class="horizontal-content">
            <img [src]="destacado.image" [alt]="destacado.title" />
            <div class="text-content">
              <ion-card-title class="capitalize" [style.color]="textoActual">{{ destacado.title
                }}</ion-card-title>
              <ion-card-subtitle style="margin: 0; font-size: 10px; text-transform: capitalize;" [style.color]="textoActual">
                {{ destacado.subtitle }}
              </ion-card-subtitle>
            </div>
            <ion-icon name="play-circle"></ion-icon>
          </div>
        </ion-card>
      </swiper-slide>
    </swiper-container>

    <div>
      <ion-button (click)="cambiarTema()">Cambiar tema y Guardar</ion-button>
    </div>

    <ion-button (click)="goBack()">Volver al intro</ion-button>
  </div>
</ion-content>