.slider-content {
  text-align: center;
  padding: 10px;
}

.slider.content img{
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  margin: 10px 0;
}

.slider-content h2 {
  font-size: 1.5em;
  margin: 10px 0;
}

//quedaste por el min 19:54