<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <figure class="profile-default-image ion-text-center">
    <img src="/assets/img/Logo_register.png" alt="Logo_Ape7ron" />
  </figure>
  <form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)">
    <ion-item>
      <ion-input
        class="TransformarTexto"
        label="Nombre"
        labelPlacement="stacked"
        placeholder="Nombre | Apellido"
        formControlName="name"
      >
      </ion-input>
    </ion-item>
    <ion-text>
      <ng-container *ngFor="let validation of validation_messages.name">
        <ion-text
          color="danger"
          *ngIf="
  (registerForm.get('name')?.hasError(validation.type) || 
   registerForm.get('name')?.hasError('nameWithSurname')) &&
  (registerForm.get('name')?.touched || registerForm.get('name')?.dirty)
"
        >
          {{ validation.message }}
        </ion-text>
      </ng-container>
    </ion-text>
    <ion-item>
      <ion-input
        label="Email"
        labelPlacement="stacked"
        placeholder="Escribe tu email"
        formControlName="email"
      >
      </ion-input>
    </ion-item>
    <div>
        <ng-container *ngFor="let validation of validation_messages.email">
          <ion-text
            color="danger"
            *ngIf="(
            registerForm.get('email')?.hasError(validation.type) && registerForm.get('email')?.dirty
          )"
          >
            {{validation.message}}
          </ion-text>
        </ng-container>
    </div>
    <ion-item>
      <ion-input
        label="Contraseña"
        labelPlacement="stacked"
        placeholder="Tu contraseña"
        type="password"
        formControlName="password"
      ></ion-input>
    </ion-item>
        <div>
        <ng-container *ngFor="let validation of validation_messages.password">
          <ion-text
            color="danger"
            *ngIf="(
            registerForm.get('password')?.hasError(validation.type) && registerForm.get('password')?.dirty
          )"
          >
            {{validation.message}}
          </ion-text>
        </ng-container>
    </div>
    <ion-button
      expand="full"
      shape="round"
      type="submit"
      [disabled]="!registerForm.valid"
    >
      Registrar
    </ion-button>
  </form>
  <ion-button expand="block" fill="clear" shape="round" (click)="redirigirLogin()"> Login </ion-button>
</ion-content>
